<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winter.app.member.MemberDAO">

	<insert id="setJoin" parameterType="MemberDTO">
		INSERT INTO MEMBER
		(USERNAME, PASSWORD, PHONE, EMAIL, ADDRESS, NAME)
		VALUES
		(#{userName}, #{password}, #{phone},#{email}, #{address},#{name})
	</insert>

	<insert id="setFileAdd" parameterType="AvatarDTO">
		INSERT INTO AVATAR
		(FILENUM,USERNAME,FILENAME,ORINAME)
		VALUES
		(FILE_SEQ.NEXTVAL,#{userName},#{fileName},#{oriName})
	</insert>

	<select id="getDetail" parameterType="MemberDTO"
		resultMap="getDetailResult">
		SELECT * FROM MEMBER M
		LEFT OUTER JOIN
		AVATAR USING(USERNAME)
		WHERE USERNAME = #{userName}
	</select>

	<resultMap type="MemberDTO" id="getDetailResult">
		<id column="USERNAME" property="userName" />
		<result column="PASSWORD" property="password" />
		<result column="PHONE" property="phone" />
		<result column="EMAIL" property="email" />
		<result column="ADDRESS" property="address" />
		<result column="NAME" property="name" />
		<association property="avatarDTO" javaType="AvatarDTO">
			<id column="FILENUM" property="fileNum" />
			<result column="FILENAME" property="fileName" />
			<result column="ORINAME" property="oriName" />
		</association>
	</resultMap>

	<update id="setUpdate" parameterType="MemberDTO">
		UPDATE MEMBER
		<set>
			<if test="phone != null and phone !=''">
				PHONE = #{phone},
			</if>
			<if test="email != null and email !=''">
				EMAIL = #{email},
			</if>
			<if test="address != null and address !=''">
				ADDRESS = #{address},
			</if>		
			<if test="name != null and name !=''">
				NAME = #{name}
			</if>
		</set>		
		WHERE USERNAME = #{userName}
	</update>
	


</mapper>