<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.winter.app.board.notice.NoticeDAO">
	<select id="getList" resultType="NoticeDTO" parameterType="Pager">
		SELECT * FROM
		(SELECT ROWNUM R,N.* FROM
			(
			SELECT * FROM BOARD
			
			ORDER BY BOARDNUM DESC
			)N
		)
		WHERE R BETWEEN #{startRow} AND #{lastRow} 
	</select>
	
	<resultMap type="NoticeDTO" id="getDetailResult">
		<id column="BOARDNUM" property="boardNum"></id>
		<result column="BOARDNAME" property="boardName"/>
		<result column="BOARDCONTENTS" property="boardContents"/>
		<result column="BOARDUSER" property="boardUser"/>
		<result column="BOARDDATE" property="boardDate"/>
		<result column="BOARDHITS" property="boardHits"/>	
		<collection property="boardFileDTOs" javaType="List" ofType="BoardFileDTO">
			<id property="fileNum" column="FILENUM"></id>
			<result property="fileName" column="FILENAME"/>
			<result property="oriName" column="ORINAME"/>
		</collection>
	</resultMap>
	
	<select id="getDetail" parameterType="NoticeDTO" resultMap="getDetailResult">
		SELECT *
			 		FROM BOARD P
					LEFT OUTER JOIN
					BOARDFILES PF USING(BOARDNUM)
			WHERE BOARDNUM = #{boardNum}		
	</select>
	
	<insert id="setAdd" parameterType="BoardDTO">
		<selectKey keyProperty="boardNum" resultType="Long" order="BEFORE">
  			SELECT BOARD_SEQ.NEXTVAL FROM DUAL
  		</selectKey>		
		INSERT INTO BOARD (BOARDNUM,BOARDNAME,BOARDCONTENTS,BOARDUSER)
		VALUES (#{boardNum},#{boardName},#{boardContents},#{boardUser})
		
	</insert>
	
	
	<!-- fileAdd  -->
	<insert id="setFileAdd" parameterType="BoardFileDTO">
		INSERT INTO BOARDFILES (FILENUM,BOARDNUM,FILENAME,ORINAME)
		VALUES (BOARD_SEQ.NEXTVAL,#{boardNum},#{fileName},#{oriName})	
	</insert>
	
	
	<!-- file list -->
	<select id="getFileList" parameterType="BoardDTO" resultType="BoardFileDTO">
		SELECT FILENAME FROM BOARDFILES WHERE BOARDNUM = #{boardNum}
	</select>	

	<!-- file delete  -->
	<delete id="setFileDelete" parameterType="BoardDTO">
		DELETE BOARDFILES WHERE BOARDNUM = #{boardNum}
	</delete>
	


</mapper>