<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.winter.app.board.qna.QnaDAO">
	
	<sql id="search">
		<where>
			<if test="kind=='kind1' or kind =='kind4'">
			BOARDNAME LIKE '%'||#{search}||'%'
			</if>
			<if test="kind=='kind2' or kind=='kind4'">
			OR BOARDCONTENTS LIKE '%'||#{search}||'%'
			</if>
			<if test="kind=='kind3' or kind=='kind4'">
			OR BOARDUSER LIKE '%'||#{search}||'%'
			</if>		
		</where>	
	</sql>

	<select id="getList" resultType="QnaDTO" parameterType="Pager">
		SELECT * FROM
		(SELECT ROWNUM R,N.* FROM
			(
			SELECT * FROM QNA
			<include refid="search"></include>
			ORDER BY BOARDREF DESC, BOARDSTEP ASC
			)N
		)
		WHERE R BETWEEN #{startRow} AND #{lastRow} 
	</select>
	
	<select id="getTotalCount" resultType="Long">
		SELECT COUNT(BOARDNUM) FROM QNA
  		<include refid="search"></include>	
	</select>
	
	<select id="getDetail" parameterType="QnaDTO" resultMap="getDetailResult">
		SELECT *
			 		FROM QNA P
					LEFT OUTER JOIN
					QNAFILES PF USING(BOARDNUM)
			WHERE BOARDNUM = #{boardNum}		
	</select>
	
	<resultMap type="QnaDTO" id="getDetailResult">
		<id column="BOARDNUM" property="boardNum"></id>
		<result column="BOARDNAME" property="boardName"/>
		<result column="BOARDCONTENTS" property="boardContents"/>
		<result column="BOARDUSER" property="boardUser"/>
		<result column="BOARDDATE" property="boardDate"/>
		<result column="BOARDHITS" property="boardHits"/>
		<result column="BOARDHITS" property="boardHits"/>
		<result column="BOARDREF" property="boardRef"/>
		<result column="BOARDSTEP" property="boardStep"/>
		<result column="BOARDDEPTH" property="boardDepth"/>	
		<collection property="boardFileDTOs" javaType="List" ofType="BoardFileDTO">
			<id property="fileNum" column="FILENUM"></id>
			<result property="fileName" column="FILENAME"/>
			<result property="oriName" column="ORINAME"/>
		</collection>
	</resultMap>
	
	
  	<insert id="setAdd" parameterType="BoardDTO">
  		<selectKey keyProperty="boardNum" resultType="Long" order="BEFORE">
  			SELECT BOARD_SEQ.NEXTVAL FROM DUAL
  		</selectKey>
  		INSERT INTO QNA
  		(BOARDNUM, BOARDNAME, BOARDUSER, BOARDCONTENTS, BOARDDATE, BOARDHITS,
  		 BOARDREF, BOARDSTEP, BOARDDEPTH,FLAG
  		)
  		VALUES
  		(#{boardNum}, #{boardName}, #{boardUser},#{boardContents}, SYSDATE, 0,#{boardNum},0,0,0)
  	</insert>
	
	<!-- reply step update -->
	<update id="setReplyUpdate" parameterType="QnaDTO">
		UPDATE QNA SET BOARDSTEP = BOARDSTEP+1
		WHERE BOARDREF= #{boardRef} AND BOARDSTEP > #{boardStep}	
	</update>
	
	<!--  reply add -->
	<insert id="setReplyAdd" parameterType="QnaDTO">
		<selectKey keyProperty="boardNum" resultType="Long" order="BEFORE">
			SELECT BOARD_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO QNA
  		(BOARDNUM, BOARDNAME, BOARDUSER, BOARDCONTENTS, BOARDDATE, BOARDHITS,
  		 BOARDREF, BOARDSTEP, BOARDDEPTH, FLAG
  		)
  		VALUES
  		(#{boardNum}, #{boardName}, #{boardUser},#{boardContents}, SYSDATE, 0,#{boardRef},#{boardStep},#{boardDepth},0)
	</insert>
	
	<insert id="setFileAdd" parameterType="BoardFileDTO">
		INSERT INTO QNAFILES (FILENUM,BOARDNUM,FILENAME,ORINAME)
		VALUES (FILE_SEQ.NEXTVAL,#{boardNum},#{fileName},#{oriName})	
	</insert>
	
	<!-- file list -->
	<select id="getFileList" parameterType="BoardDTO" resultType="BoardFileDTO">
		SELECT FILENAME FROM QNAFILES WHERE BOARDNUM = #{boardNum}
	</select>	

	<!-- file delete  -->
	<delete id="setFileDelete" parameterType="BoardDTO">
		DELETE QNAFILES WHERE BOARDNUM = #{boardNum}
	</delete>
	
	<!--  -->
	<update id="setDelete" parameterType="QnaDTO">
		UPDATE QNA SET FLAG = #{flag} 
		WHERE BOARDNUM = #{boardNum}
	</update>
	
	<!--update  -->
	<update id="setUpdate" parameterType="BoardDTO">
		UPDATE QNA SET 
		BOARDNAME = #{boardName}, BOARDCONTENTS = #{boardContents}
		WHERE BOARDNUM = #{boardNum}
	</update>
	
	
	

</mapper>